<h3>This is your profile</h3>

<form role="form">
  <div class="form-group">
    <label for="email">Id:</label>
    <input type="text" class="form-control" ng-model="id" readonly>
  </div>
  <div class="form-group">
    <label for="email">Username:</label>
    <input type="text" class="form-control" ng-model="username" readonly>
  </div>
  <div class="form-group">
    <label for="email">Role:</label>
    <input type="text" class="form-control" ng-model="role" readonly>
  </div>  
</form>

